// Usar nesting, import y variables 
// Ruta /scss/styles.scss

// HOME

@import "utilities/variables";

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $fonts;
    margin: 0;
    padding: 0;
}

// Directamente en bootstrap
header {
    .nav-link {
        color: $text-color;
    }
}
    

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    h1{
        text-align: center;
        font-weight: bold;
    }
    p{
        margin: 10px;
        padding: 10px;
    }
    
    .banner-home {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }

        .banner-texts {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                color: $banner-text-color;
                text-shadow: $banner-text-shadow-color;
                font-weight: bold;
                margin: 0;
                padding: 0;
                            }
            .text0 {
                align-self: center; 
            }
            .text1 {
                align-self: self-start;
            }
            .text2 {
                align-self: self-end;
            }
        }
    }
}

//LINK TIPO BOTON
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;

    .button-history{
            background-color: $button-background-color;
            color: $button-text-color;
            padding: 10px 20px; 
            border-radius: 15px;
            font-weight: bold;
            cursor: pointer;
            display: inline-block; 
            text-align: center;
        }
    }


footer {
    background-color: $background-color-footer;
    padding: 10px;
    text-align: center;
    color: $text-color-footer;
    font-weight: bold;
    font-size: 0.8rem;

    
}

/* media queries moviles y tablet*/
@media screen and (min-width: $mq-moviles) {
    .navbar-nav .nav-link,
    .banner-texts p {
        font-size: 1rem;
    }
}

/* media queries desktop*/
@media screen and (min-width: $mq-desktop) {
    .navbar-nav .nav-link {
        font-size: 1.3rem;
    }

    .banner-texts p {
        font-size: 3rem;
  
    }
}
