// ruta /scss/_pages.scss

@import "mixin";

// estilos para page home e historia
// PAGE HOME
body {
    background-color: $background-color;
    color: $text-color;
    font-family: $fonts;
}

// estilos para todas la imagenes
img {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
        opacity: 0.8;
    }
}


// directamente en bootstrap
header {
    .nav-link {
        color: $text-color;
    }

    .navbar-nav {
        align-items: center;
    }
}

// estilos para main
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

    h1 {
        text-align: center;
        font-weight: bold;
        margin: 5px;
    }

    h2 {
        font-size: 1.2rem;
        text-align: start;
        font-weight: bold;
        margin: 5px;

    }

    p {
        margin: 5px;
        padding: 5px;
    }


    .banner-home {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }


        .banner-texts {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
                color: $banner-text-color;
                text-shadow: $banner-text-shadow-color;
                font-weight: bold;
                margin: 10;
                padding: 10;

                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                    opacity: 0.8;
                }
            }

            p {
                color: $banner-text-color;
                text-shadow: $banner-text-shadow-color;
                font-weight: bold;
                margin: 5px;
                padding: 5px;

                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                    opacity: 0.8;
                }

            }

            .text0 {
                align-self: center;

            }

            .text1 {
                align-self: self-start;
            }

            .text2 {
                align-self: self-end;
            }
        }
    }

}

//boton page home to history
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10 px;
    margin: 10px;

    .button-history {
        background-color: $button-background-color;
        color: $button-text-color;
        padding: 10px 20px;
        border-radius: 15px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        transition: background-color 0.4s, box-shadow 0.4s;

        &:hover {
            background-color: darken($button-background-color, 10%);
            box-shadow: 8px 8px 16px rgba(255, 0, 0, 0.2);
        }
    }
}


footer {
    background-color: $background-color-footer;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-items: center;
    color: $text-color-footer;
    font-weight: bold;
    font-size: 0.8rem;
}

/* mq moviles y tablet*/
@media screen and (min-width: $mq-moviles) {

    .navbar-nav .nav-link,
    .banner-texts p {
        font-size: 1rem;
    }

    .banner-texts h1 {
        font-size: 1rem;
    }

    .banner-home {
        img {
            height: 50px;
            object-fit: cover;
            object-position: center;
        }
    }

}

/* mq desktop*/
@media screen and (min-width: $mq-desktop) {
    .navbar-nav .nav-link {
        font-size: 1.3rem;
    }

    .banner-texts p {
        font-size: 2rem;
    }

    .banner-texts h1 {
        font-size: 2rem;
    }

    .banner-home {
        img {
            height: 400px;
            object-fit: cover;
            object-position: center;
        }

    }
}

// estilos para page historia
.timeline-container {
    @include flex-para-historia;
  }

// estilos para page marcas
.marcas .marca {
    @include flex-para-marcas;
}

// estilos para page nosotros
.img-nosotros {
    @include grid-para-nosotros;
}

// estilos para page contacto
.form-contacto {
    @include flex-para-contacto;
  }