// ruta /scss/utilities/_variables.scss

// mis colores 
$background-color: #ffffff;
$background-color-footer: #f1e8e8;
$text-color: #666464;
$text-color-footer: #333333;
$banner-text-color: #000000;
$banner-text-shadow-color: rgba(0, 0, 0, 0.5);
$button-background-color: #17415e;
$button-text-color: #FFFFFF;



// mis letras
$fonts: Arial, sans-serif;

// usar media query pantallas medianas y desktop
$mq-moviles: 300px;
$mq-mediano: 600px;
$mq-desktop: 1024px;